* {
  width: 100%;
  height: 100%;
  padding: 0;
  background: skyblue;
  overflow: hidden;
}
html, body {
  margin: 0;
}

canvas{
  margin: 0;
  position: fixed;
  bottom: 10px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}
